<a href="https://colab.research.google.com/github/sebastianneri/HealthHackathon/blob/main/Oaxaca's_Geospatial_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random

In [ ]:
df = pd.read_csv('municipios.csv', sep=';', skiprows=2, encoding='latin-1', dtype={'Clave de Entidad': str, 'Nombre de Entidad': str, 'Clave de Municipio':str, 'Nombre de Municipio':str} )

In [ ]:
df.drop(columns=['Nombre de Entidad','Nombre de Municipio'], inplace=True)

In [ ]:
df['Pob Riesgo'] = df['Clave de Municipio'].map(create_pob)
df

     Clave de Entidad Clave de Municipio  Pob Riesgo
0                  01                001        3447
1                  01                002        1509
2                  01                003        3479
3                  01                004        1660
4                  01                005        2962
...               ...                ...         ...
2464               32                054        1731
2465               32                055        1544
2466               32                056        1851
2467               32                057        3712
2468               32                058        1943

[2469 rows x 3 columns]

In [ ]:
df['Nuevos Casos'] = df['Clave de Municipio'].map(nuevos_casos)
df

     Clave de Entidad Clave de Municipio  Pob Riesgo  Nuevos Casos
0                  01                001        3447            24
1                  01                002        1509           160
2                  01                003        3479             8
3                  01                004        1660            21
4                  01                005        2962             8
...               ...                ...         ...           ...
2464               32                054        1731             3
2465               32                055        1544            25
2466               32                056        1851            43
2467               32                057        3712           180
2468               32                058        1943            12

[2469 rows x 4 columns]

In [ ]:
df['T Incidencia'] = (df['Nuevos Casos'] * 1000) / df['Pob Riesgo']

In [ ]:
df['T Incidencia'].max()

190.72847682119206

In [ ]:
def create_pob(x):
    if random.random() > 0.3:
        return random.randint(1500,2000)
    return random.randint(2000,4000)

In [ ]:
def nuevos_casos(x):
    if random.random() > 0.2:
        return random.randint(0,30)
    return random.randint(31,300)

In [ ]:
df.to_csv('dummies_diabetes_prueba.csv', sep=',', index=False)

In [ ]:
df

,Clave de Entidad,Clave de Municipio,Pob Riesgo,Nuevos Casos,T Incidencia
0,01,001,1728,14,8.101852
1,01,002,1873,15,8.008542
2,01,003,203,28,137.931034
3,01,004,1219,6,4.922067
4,01,005,1917,98,51.121544
...,...,...,...,...,...
2464,32,054,4278,2,0.467508
2465,32,055,4273,15,3.510414
2466,32,056,1521,13,8.547009
2467,32,057,732,20,27.322404
2468,32,058,4480,17,3.794643

In [ ]:
df

     Clave de Municipio  Pob Riesgo
0                   001         146
1                   002        1218
2                   003        1017
3                   004         204
4                   005        1350
...                 ...         ...
2464                054        1190
2465                055         633
2466                056        1966
2467                057        3517
2468                058         508

[2469 rows x 2 columns]